# Core functionality - changes here should be rare!
/src/app.py                   @ARobDataLog
/src/backend/database.py      @ARobDataLog
/src/backend/routers/auth.py  @ARobDataLog

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ARobDataLog
